<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="AppBar3000.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <userSettings>
        <AppBar3000.My.MySettings>
            <setting name="AppBarPosition" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="MonNum" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="AppBarSize" serializeAs="String">
                <value>75</value>
            </setting>
        </AppBar3000.My.MySettings>
    </userSettings>
</configuration>